body {
    background: #2f4f4f;
    justify-content: center;
}

.heading {
    text-align: center;
    font-size: 5rem;
    color: #dcdcdc;   
}



.grid {
    background: #2f4f4f;
    margin: 40rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 1rem;
    
}

.cell {
    background: #dcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 10rem;
    width: 10rem;
    padding: 2rem;
}

