body {
    background: #2f4f4f;
    justify-content: center;
}

.heading {
    text-align: center;
    font-size: 5rem;
    color: #2f4f4f;
    
    
}

.container {
    background: #dcdcdc;
    margin: 15rem;
    padding: 20rem;
    border-radius: 5px;

}